
{% extends "base.html.twig" %}

        {% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('site_index')}}" title="Page d'acceuil">Acceuil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item {{'index' in app.request.attributes.get("_route") ? 'active'}}">
                    <a class="nav-link" href="{{ path('site_index')}}" title="Page d'acceuil">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{'about' in app.request.attributes.get("_route") ? 'active'}}" href="{{path('site_about') }}" title="A propos de ...">A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{'about' in app.request.attributes.get("_route") ? 'active'}}" href="{{path('site_blog') }}" title="Actus du site">Blog</a>
                </li>
                </ul>
            </div>
        </nav>

    {% block content %}
    {% endblock %}
        {% endblock %}