{% extends 'admin/layout.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block content %}
<h1>Nos articles</h1>
<section class="articles">
    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le 10//10/19 dans la catégorie {{article.category.title}} </div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            <p>{{article.content}}</p>
             <a href="{{ path('admin_article_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <hr>
    {% endfor %}
</section>

{% endblock %}
