{% extends 'admin/layout.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block content %}
<h1>Liste des articles</h1>
    <p>
    <a href="{{ path('admin_article_new')}}" class="btn btn-info">Ajouter un article</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Categorie</th>
            <th>Contenu</th>
            <th>Date depublication</th>
            <th>statut</th>
            <th>Action</th>
            
        </tr>
    </thead>

    <tbody>
        {% for article in articles %}
        <tr>

            <td>{{ article.title }}</td>
            <td>{{ article.category.title }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.createdAt | date('d-m-Y') }}</td>
            <td>{{ article.isActive ? 'Publié' : 'Brouillon' }}</td>
            <td>
                <a href="{{ path('admin_article_show', {'id': article.id}) }}">voir</a>
                <a href="{{ path('admin_article_edit', {'id': article.id}) }}">modifier</a>
            </td>

        </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article</td>
            </tr>
        {% endfor %}
    </tbody>


</table>

{{ knp_pagination_render(articles) }}

{% endblock %}
