{% extends 'admin/layout.html.twig' %}
{% block content %}
    
<article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{article.createdAt| date('d-m/Y')}} dans la catégorie {{article.category.title}} </div>
    <div class="metadata">Statut : {{ article.isActive ? 'publié' : 'brouillon' }}</div>
    <div class="content">
        <img src="{{ asset(article.image) }}" alt="">
        <p>{{article.content}}</p>
    </div>
    <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-secondary">Modifier l'article</a>

    <form method="post" action="{{ path('admin_article_delete', {'id': article.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet article?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
</article>

{% endblock %}